@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

.inactive {
  display: none;
}

:root {
  --nav: #fda1a2;
  --navSombreado: #c77677;
  --texto: #261d41;
  --fondo: #fefbf6;
  --degradado: #b8aef5;
  --degradado1: #d5cdf8;
  --blanco: #fff;
}

/* dropdown */
ul {
  list-style: none;
  background: var(--nav);
}

ul li {
  display: inline-block;
  position: relative;
}

ul li a {
  display: block;
  padding: 20px 5px;
  color: var(--texto);
  text-decoration: none;
  text-align: center;
  font-size: 20px;
}

ul li ul.dropdown li {
  display: block;
}

ul li ul.dropdown {
  width: 100%;
  background: var(--nav);
  position: absolute;
  z-index: 999;
  display: none;
}

ul li a:hover {
  background: var(--navSombreado);
}

ul li:hover ul.dropdown {
  display: block;
}

*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  height: 100%;
  background-color: var(--fondo);
  font-family: "Montserrat", sans-serif;
}

/* NAVBAR */
#menu {
  display: grid;
  grid-template-columns: 2fr auto;
  background-color: var(--nav);
  width: 100%;
  top: 0;
  opacity: 1;
  height: 70px;
}

.container-menu {
  display: grid;
  grid-template-columns: 2fr auto;
  background-color: var(--nav);
  width: 100%;
  position: fixed;
  z-index: 1;
  top: 0px;
  transition: top 0.3s;
}

.tutorial {
  display: grid;
  grid-template-columns: auto auto auto 1fr auto;
  padding: 10px 15px 5px 40px;
}

.btn-inicio,
.btn-servicio,
.btn-nosotros {
  border-radius: 8px;
  background-color: transparent;
  border: none;
  color: var(--texto);
  cursor: pointer;
  font-size: 15px;
  font-family: "Montserrat", sans-serif;
  width: auto;
  padding: 20px;
}

.btn-inicio a,
.btn-servicio a,
.btn-nosotros a {
  color: var(--texto);
  text-decoration: none;
}

.btn-ingresar {
  border-radius: 8px;
  background-color: transparent;
  border: none;
  color: var(--texto);
  cursor: pointer;
  font-size: 15px;
  font-family: "Montserrat", sans-serif;
  width: 155px;
  padding: 20px;
}

.btn-ingresar a {
  color: var(--texto);
  text-decoration: none;
}

.search-box-container.expanded {
  width: 250px;
}

.search-box-container {
  display: inline-block;
  box-sizing: content-box;
  height: 40px;
  width: 40px;
  padding: 0;
  background-color: #fff;
  border: 3px solid var(--navSombreado);
  border-radius: 28px;
  overflow: hidden;
  cursor: pointer;
  transition: width 0.3s;
  grid-column: 5;
  margin: auto;
}

.search-box-container * {
  display: inline-block;
  margin: 0;
  height: 100%;
  padding: 5px;
  border: 0;
  outline: none;
}

.search-box {
  width: calc(100% - 50px);
  padding: 0 10px;
  float: right;
  font-family: "Montserrat", sans-serif;
  font-size: 1em;
  color: #212121;
  background-color: #fff;
}

.submit {
  width: fit-content;
  float: right;
  left: 0;
  top: 0;
  font-size: 1.2em;
  text-align: center;
  cursor: pointer;
  background-color: #fff;
}

.fa {
  display: inline !important;
  line-height: 100%;
  pointer-events: none;
  color: var(--navSombreado);
}

.circle-container {
  width: 60px;
  height: auto;
  border-radius: 40% 0 0 40%;
  background-color: var(--navSombreado);
  justify-self: end;
  position: relative;
}

.shopping {
  width: 100%;
  height: 100%;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.shopping .fa-shopping-cart {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  font-size: 24px;
}

/* EFECTOS DEL SPAN */

@keyframes jump {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-10px);
  }

  100% {
    transform: translateY(0);
  }
}

span {
  margin-left: auto;
  position: absolute;
  top: 0;
  right: 0;
  margin-top: -9px;
  margin-right: -8px;
  background-color: var(--nav);
  width: 15px;
  height: 15px;
  border-radius: 50%;
  padding-left: 4.5px;
  padding-top: 1.5px;
  animation: jump 1s;
}

#num_cart {
  position: absolute;
  font-size: 10px;
  top: 2px;
  right: 4px;
}

.categoria {
  display: grid;
  grid-template-columns: 1fr auto auto auto auto auto 1fr;
}

.categoria .ropa {
  grid-column: 2;
}

.categoria .ropa,
.categoria .accesorios,
.categoria .artesanias,
.categoria .hogar,
.categoria .libros {
  background-color: transparent;
  border: none;
  color: var(--texto);
  font-family: "Montserrat", sans-serif;
  width: 115px;
  height: 50px;
  padding-left: 15px;
  padding-right: 15px;
  /* padding: 10px 15px; */
  cursor: pointer;
  font-size: 15px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.categoria .ropa a,
.categoria .accesorios a,
.categoria .artesanias a,
.categoria .hogar a,
.categoria .libros a {
  color: var(--texto);
  text-decoration: none;
}

.categoria .ropa:hover,
.categoria .accesorios:hover,
.categoria .artesanias:hover,
.categoria .hogar:hover,
.categoria .libros:hover {
  background-color: var(--nav);
  color: white;
}

.evento {
  background-size: cover;
  background-position: center;
  width: 100%;
  /* height: 470px; */
  transition: height 0.5s ease;
}

.destacados {
  padding: 20px;
  height: fit-content;
  background: var(--nav);
  background: -webkit-linear-gradient(to bottom, var(--blanco), var(--nav));
  background: linear-gradient(to bottom, var(--blanco), var(--nav));
}

.titulo {
  margin-top: 60px;
  display: grid;
  grid-template-columns: repeat(4, auto);
  grid-row-gap: 60px;
}

.titulo p {
  font-family: "Montserrat", sans-serif;
  font-size: 30px;
  text-align: center;
  color: var(--texto);
  grid-column: span 4;
}

.tarjeta-producto {
  position: relative;
  width: 160px;
  height: 200px;
  background: var(--degradado);
  background: -webkit-linear-gradient(to top, var(--blanco), var(--degradado));
  background: linear-gradient(to top, var(--blanco), var(--degradado));
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  transition: transform 1s ease;
}

.tarjeta-producto:hover {
  transform: scale(1.13);
  background: var(--degradado1);
  background: -webkit-linear-gradient(to top, var(--blanco), var(--degradado1));
  background: linear-gradient(to top, var(--blanco), var(--degradado1));
}

.tarjeta-producto:hover .compra .fa-shopping-cart {
  opacity: 1;
}

.tarjeta-producto:hover .producto {
  opacity: 1;
}

.tarjeta-producto img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 8px;
}

#prev,
#next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 24px;
  cursor: pointer;
  display: none;
}

#prev {
  left: 10px;
}

#next {
  right: 10px;
}

.producto {
  position: absolute;
  border: 1px solid var(--nav);
  background-color: white;
  height: auto;
  border-radius: 10px;
  width: 130px;
  margin: 5px auto;
  font-family: "Montserrat", sans-serif;
  color: var(--texto);
  font-size: 10px;
  opacity: 0;
  right: 0;
  left: 0;
}

.botones {
  position: absolute;
  bottom: -35px;
  gap: 5px;
  padding: 15px 5px;
  display: flex;
  justify-content: space-around;
  width: 100%;
  height: 70px;
}

.botones .ver-mas {
  background-color: var(--nav);
  border: none;
  font-family: "Montserrat", sans-serif;
  color: var(--blanco);
  cursor: pointer;
  padding: 10px 20px;
  border-radius: 20px;
  width: 110px;
  height: auto;
  font-size: 15px;
  text-decoration: none;
}

.botones .compra {
  background-color: var(--texto);
  border: none;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  cursor: pointer;
  margin: auto;
}

.compra .fa-shopping-cart {
  color: white;
  opacity: 0;
}

.product-found
  .titulo
  .tarjeta-feed
  .tarjeta-producto-feed
  .botones
  .compra
  .fa-shopping-cart {
  opacity: 1;
}

.ver-todo {
  background-color: var(--texto);
  border-radius: 10px;
  padding: 10px;
  border: none;
  margin-bottom: 30px;
}

.ropa .ver-todo a {
  text-decoration: none;
  color: var(--blanco);
}

.whatsapp {
  position: fixed;
  bottom: 0;
  right: 10px;
  text-align: end;
  padding: 10px;
}

.responsive-image {
  width: 70px;
  height: 70px;
}

.responsive-image {
  transition: width 0.5s ease;
}

.tarjeta-feed {
  display: flex;
  flex-wrap: wrap;
  gap: 60px;
  margin: 50px;
  margin-top: 30px;
  justify-content: center;
}

.categoria-busqueda {
  grid-row: 2;
  background: var(--degradado1);
  background: -webkit-linear-gradient(to bottom, var(--blanco), var(--nav));
  background: linear-gradient(to bottom, var(--blanco), var(--nav));
  padding-left: 45px;
  padding-right: 45px;
}

.categoria-busqueda h1 {
  font-size: 30px;
  font-family: "Montserrat", sans-serif;
  color: var(--texto);
  margin: 30px 0px;
}

.categoria-busqueda p {
  margin: 5px;
  font-size: 15px;
  text-align: start;
  cursor: pointer;
}

.categoria-busqueda p strong a {
  text-decoration: none;
  color: var(--texto);
}

.tarjeta-producto-feed {
  position: relative;
  width: 250px;
  height: 300px;
  border: 1px solid var(--texto);
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  transition: transform 0.5s ease;
}

.tarjeta-producto-feed:hover {
  background: url("/recursos/5594188.jpg");
  background-size: cover;
  background-position: center;
  transform: scale(1.13);
  border: 1px solid var(--texto);
  /* background: var(--degradado1);
  background: -webkit-linear-gradient(to top, var(--blanco), var(--degradado1));
  background: linear-gradient(to top, var(--blanco), var(--degradado1)); */
}

.tarjeta-producto-feed:hover .compra .fa-shopping-cart,
.tarjeta-producto-feed:hover .producto {
  opacity: 1;
}

.tarjeta-producto-feed img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 8px;
}

.tarjeta-producto-feed .botones .ver-mas {
  width: 125px;
  text-align: center;
}

.product-found .titulo .tarjeta-feed .tarjeta-producto-feed .botones {
  padding: 15px 25px;
}

.ropa a {
  padding: 30px 0px;
  font-family: "Montserrat", sans-serif;
  color: var(--texto);
}

/* Menu Mobile */

.mobile-menu {
  background-color: var(--nav);
  position: absolute;
  top: 60px;
  left: 0;
  width: 100%;
  height: 70px;
  display: grid;
  grid-template-columns: 120px 140px auto auto;
  grid-template-rows: repeat(1, 70px);
}

.mobile-menu .menu-mobile {
  fill: #fff;
  width: 50%;
  height: 80%;
  margin-top: auto;
  margin-bottom: auto;
  cursor: pointer;
}

.mobile-menu .search-box-container {
  grid-column: 3;
  margin-top: auto;

  margin-bottom: auto;
  margin-right: 10px;
}

.mobile-menu .circle-container {
  grid-column: 4;
}

.mobile-menu-categories {
  position: absolute;
  top: 0;
  font-family: "Montserrat", sans-serif;
  padding: 30px;
  border-radius: 20px;
  z-index: 1;
  background: var(--nav);
  width: 50%;
}

.mobile-menu-categories a {
  text-decoration: none;
  color: var(--blanco);
  font-weight: bold;
}

.mobile-menu-categories li {
  margin: 15px;
}

.mobile-menu-categories li::marker {
  color: var(--blanco);
}

.mobile-menu-categories ul {
  margin-top: 55px;
}

.linea {
  width: 80%;
  height: 1px;
  border-radius: 90%;
  background-color: #000000;
}

.arrow-before {
  cursor: pointer;
  height: 30px;
  position: fixed;
  top: 0;
  margin-top: 20px;
  margin-left: -15px;
}

.container-mobile {
  width: 100%;
  position: fixed;
  z-index: 1;
  top: 0px;
  transition: top 0.3s;
}

.destacados p,
.ropa p {
  font-family: "Montserrat", sans-serif;
  font-size: 30px;
  text-align: center;
  color: var(--texto);
}

.outer-card {
  width: 100%;
  overflow: hidden;
  position: relative;
}

.outer-card .tarjeta {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  margin: 30px;
  justify-content: center;
  flex-direction: row;
  padding: 20px;
}

.outer-card .tarjeta .tarjeta-producto {
  position: relative;
  width: 160px;
  height: 200px;
  /* background: url('/recursos/5594188.jpg');
  background-size: cover;
  background-position: center; */
  background: var(--degradado);
  background: -webkit-linear-gradient(to top, var(--blanco), var(--degradado));
  background: linear-gradient(to top, var(--blanco), var(--degradado));
  border-radius: 8px;
  display: flex;
  flex-direction: column;
}

.tarjeta-producto:hover {
  transform: scale(1.25);
  transition: transform 0.3s ease;
  /* background: url('/recursos/5594188.jpg');
  background-size: cover;
  background-position: center; */
  background: var(--degradado1);
  background: -webkit-linear-gradient(to top, var(--blanco), var(--degradado1));
  background: linear-gradient(to top, var(--blanco), var(--degradado1));
}

.tarjeta-producto:hover .ver-mas {
  border: 0.2px solid var(--blanco);
}

.tarjeta-producto:hover .compra .fa-shopping-cart {
  opacity: 1;
}

.ropa {
  text-align: center;
}

.ropa .tarjeta-feed .tarjeta-producto-feed .botones .ver-mas {
  width: 190px;
  font-size: 15px;
}

.espacio {
  height: 50px;
}

@media (min-width: 641px) {
  .mobile-menu {
    display: none;
  }

  .mobile-menu-categories {
    display: none;
  }

  .arrow-before {
    display: none;
  }

  .find-mobile {
    display: none;
  }
}

@media (max-width: 768px) {
  .producto {
    opacity: 1;
  }

  .btn-inicio,
  .btn-servicio,
  .btn-nosotros,
  .btn-ingresar {
    font-size: 16px;
  }

  .categoria .ropa,
  .categoria .accesorios,
  .categoria .artesanias,
  .categoria .hogar,
  .categoria .libros {
    font-size: 16px;
    width: 120px;
  }

  .categoria-busqueda {
    display: none;
  }

  .titulo {
    display: flex;
    flex-direction: column;
    grid-row-gap: 0px;
  }

  .tarjeta-producto-feed {
    transform: scale(0.8);
  }

  .tarjeta-producto-feed:hover {
    transform: scale(1);
  }

  .btn-inicio,
  .btn-servicio,
  .btn-nosotros,
  .btn-ingresar {
    padding: 10px;
  }

  #menu {
    height: 61px;
  }

  .compra .fa-shopping-cart {
    opacity: 1;
  }
}

@media (max-width: 640px) {
  .container-menu {
    display: none;
  }

  .categoria {
    display: none;
  }

  #menu {
    height: 70px;
  }

  .mobile-menu {
    top: 0px;
  }

  .categoria-busqueda {
    display: none;
  }

  .circle-container {
    height: 70px;
  }

  .titulo p {
    font-size: 20px;
    margin: 10px;
  }

  .tarjeta-producto-feed {
    transform: scale(0.5);
    margin: -60px;
  }

  .tarjeta-producto-feed:hover {
    transform: scale(0.6);
  }

  .circle-container {
    width: 60px;
  }

  .compra .fa-shopping-cart {
    opacity: 1;
  }
}

@media (min-width: 3840px) {
  .outer-card {
    transform: scale(1.2);
  }

  .producto {
    font-size: 20px;
  }

  .titulo p {
    font-size: 40px;
  }

  .tarjeta-producto-feed {
    width: 250px;
    height: 300px;
  }

  .categoria-busqueda h1 {
    font-size: 40px;
  }

  .categoria-busqueda p {
    font-size: 20px;
  }

  .ropa .tarjeta-feed .tarjeta-producto-feed .botones .ver-mas {
    font-size: 20px;
  }

  .destacados p,
  .ropa p {
    font-size: 40px;
  }
}

/* sobre nosotros */

.heading {
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  margin: 20px auto;
}

.heading h1 {
  font-size: 50px;
  color: #000;
  margin-bottom: 25px;
  position: relative;
}

.heading h1::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 4px;
  display: block;
  margin: 0 auto;
  background-color: #000000;
}

.heading p {
  font-size: 18px;
  color: #666;
  margin-bottom: 35px;
}

.containers {
  width: 99%;
  margin: 0 auto;
  padding: 10px 20px;
}

.about {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.about-map {
  flex: 1;
  margin-right: 40px;
  overflow: hidden;
}

.about-map iframe {
  display: block;
  transition: 0.5s ease;
}

.about-content {
  flex: 1;
}

.about-content h2 {
  font-size: 23px;
  margin-bottom: 15px;
  color: #333;
}

.about-content p {
  font-size: 18px;
  line-height: 1.5;
  color: #666;
}

@media screen and (max-width: 768px) {
  .heading {
    padding: 0px 20px;
  }

  .heading h1 {
    font-size: 36px;
  }

  .heading p {
    font-size: 17px;
    margin-bottom: 0px;
  }

  .container {
    padding: 0px;
  }

  .about {
    padding: 20px;
    flex-direction: column;
  }

  .about-map {
    margin-right: 0px;
    margin-bottom: 20px;
  }

  .about-content p {
    padding: 0px;
    font-size: 16px;
  }
}

/* FOOTER */
.pie-pagina {
  width: 100%;
  background: linear-gradient(white, 60%, #ff83a8);
}

.pie-pagina .grupo-1 {
  width: 100%;
  max-width: 1200px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 50px;
  padding: 45px 0px;
}

.pie-pagina .grupo-1 .box figure {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pie-pagina .grupo-1 .box figure img {
  width: 250px;
}

.pie-pagina .grupo-1 .box .link {
  color: #000000;
  margin-bottom: 10px;
  text-decoration: none;
  margin-top: 30px;
  font-weight: bold;
}

.link-wrapper {
  margin-top: 25px;
  margin-bottom: 0;
}

.bout-t {
  padding-top: 25px;
}

.bout-d {
  margin-top: 8px;
}

.bout-p {
  margin-top: 8px;
}

.red-social {
  margin-top: 8px;
}

.red-social h3 {
  margin-bottom: 6px;
}

.pie-pagina .grupo-1 .red-social a {
  display: inline-block;
  text-decoration: none;
  width: 45px;
  height: 45px;
  line-height: 45px;
  color: #fff;
  margin-right: 10px;
  background-color: #0d2033;
  text-align: center;
  transition: all 300ms ease;
  margin-bottom: 0;
  border-radius: 20%;
}

.pie-pagina .grupo-1 .red-social a:hover {
  color: rgb(255, 87, 255);
}

.pie-pagina .grupo-2 {
  background-color: #ff94b4;
  padding: 15px 10px;
  text-align: center;
  color: black;
}

.pie-pagina .grupo-2 small {
  font-size: 15px;
}

@media screen and (max-width: 800px) {
  .pie-pagina .grupo-1 {
    width: 90%;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 30px;
    padding: 35px 0px;
  }
}

/* Tarjetas1 */

.containerc {
  margin-top: 50px;
  display: flex;
  margin-left: 150px;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.background-top-row {
  background-color: rgba(52, 1, 45, 0.3);
  backdrop-filter: blur(-4rem);
}

.card {
  border-radius: 1rem;
  margin-right: 80px;
  box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.2);
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  width: 30rem;
  backdrop-filter: blur(1rem);
  background-color: rgba(255, 255, 255, 0.06);
  border: rgba(255, 255, 255, 0.18);
}

.card h6 {
  letter-spacing: 0.1rem;
  margin: 1rem 0;
}

.card h2 {
  letter-spacing: 0.1rem;
  margin: 1rem 0;
}

.top-row {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.top-row i {
  font-size: 1rem;
}

.content {
  padding: 1rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: column;
  align-items: flex-start;
  justify-content: space-between;
}

.content p {
  font-size: 0.9rem;
}

.button {
  margin-top: 8px;
  border-radius: 3rem;
  text-decoration: none;
  color: var(--texto);
  font-size: 0.8rem;
  padding: 0.5rem 0.3rem;
  letter-spacing: 0.1rem;
  align-self: flex-end;
  border: 0.1rem solid rgba(255, 255, 255, 0.18);
}

@media (max-width: 1030px) {
  .containerc {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
  }
}

/* TABLA */

.containert {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 45vh;
}

table {
  color: var(--texto);
  font-size: 14px;
  table-layout: fixed;
  border-collapse: collapse;
  border: solid 1px rgba(0, 0, 0, 0.2);
}

thead {
  background: rgba(243, 140, 210, 0.4);
}

th {
  padding: 20px 15px;
  font-weight: 700;
  text-transform: uppercase;
}

td {
  padding: 15px;
  border-bottom: solid 1px rgba(0, 0, 0, 0.2);
  font-weight: bold;
}

tbody tr {
  cursor: pointer;
}

tbody tr:hover {
  background: rgba(253, 159, 217, 0.733);
}

/* sobre nosotros */

.heading {
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  margin: 20px auto;
}

.heading h1 {
  font-size: 50px;
  color: #000;
  margin-bottom: 25px;
  position: relative;
}
.heading h1::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 4px;
  display: block;
  margin: 0 auto;
  background-color: #000000;
}

.heading p {
  font-size: 18px;
  color: #666;
  margin-bottom: 35px;
}

.containers {
  width: 99%;
  margin: 0 auto;
  padding: 10px 20px;
}

.about {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.about-map {
  flex: 1;
  margin-right: 40px;
  overflow: hidden;
}

.about-map iframe {
  display: block;
  transition: 0.5s ease;
}

.about-content {
  flex: 1;
}

.about-content h2 {
  font-size: 23px;
  margin-bottom: 15px;
  color: #333;
}

.about-content p {
  font-size: 18px;
  line-height: 1.5;
  color: #666;
}

@media screen and (max-width: 768px) {
  .heading {
    padding: 0px 20px;
  }

  .heading h1 {
    font-size: 36px;
  }

  .heading p {
    font-size: 17px;
    margin-bottom: 0px;
  }

  .container {
    padding: 0px;
  }

  .about {
    padding: 20px;
    flex-direction: column;
  }

  .about-map {
    margin-right: 0px;
    margin-bottom: 20px;
  }

  .about-content p {
    padding: 0px;
    font-size: 16px;
  }
}

/* COMPLETADO */

.contenedor {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 50vh;
}

.productoscompra {
  display: flex;
  justify-content: space-between;
}
.productoscompra > * {
  margin: 20px;
}

.productoscompra h3 {
  margin-bottom: 8px;
}

.productoscompra p {
  text-align: center;
}

.detalles-compra {
  margin-left: 30px;
}

.volverBtn {
  margin-left: 50px;
  margin-top: -60vh;
  padding: 10px 15px;
  border-radius: 30px;
  border: none;
  background-color: rgb(255, 183, 225);
  cursor: pointer;
  transition: padding 0.5s ease, background-color 0.5s ease;
}

.volverBtn a {
  text-decoration: none;
  font-weight: bold;
  color: rgb(0, 0, 0);
}

.volverBtn:hover {
  background-color: rgb(250, 105, 190);
  padding: 11px 20px;
}
